.env
.env.*
logs
logs/
node_modules
node_modules/
npm-debug.log*

tor/hidden_service
tor/hidden_service/
tor/bridges.local.txt
tor/webtunnel.local.txt
tor/*.identity
tor/*.pub
tor/*.agekey

*.dump
*.sql
!migrations/*.sql
*.sql.gz
*.tar
*.tar.gz
